
body{
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #1d2d5c;
}
.main{
    flex-direction: column;
    margin-top: 0px;
}
.global{
    margin-top: 5px;
    padding-top: 0px;
    display: flex;
    background-color: #a59afc;
    color: #122921;
}
.title{
    text-align: center;
    font-size: 50px;
    padding-left: 25px;
}
.subtitle{
    text-align: center;
    color: #146d88;
}
.img{
    text-align: center;
    align-items: center;
    width: 20px;
    height: 40px;
}
.pmdr{
    width: 300px;
    height: auto;
    align-items: center;
    text-align: center;
}
.btn {
    margin-top: 10px;
}
.container {
    margin-left: 200px;
    margin-top: 40px;
}

.timer {
    font-size: 48px;
    margin-bottom: 20px;
    padding-right: 25px;
}

.controls button {
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 10px;
    border-radius: 8px;
    background-color: #1d2d5c;
    color: #a59afc;
}
.materials{
    display:  flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    padding-top: 5px;

}